@import "sheets-of-paper-a4.css";
header{
    position:relative;
    width: auto;
    margin: auto auto 16px auto;


    /* border-width: medium;
    border-style: solid;
    border-color: #F00; */

}




#brasao {
    position: relative;
    text-align: center;
    font-size: 9pt;
    margin-bottom: 10px;
}

#logoRJ {
    height: 102.72px;
    width: 85.52px;
}

#titulo {
    position: relative;
    text-align: center;
}

#titulo h1 {
    font-size: 12pt;
    margin: 0;
}

#titulo p {
    font-size: 9pt;
}


main{
    position:relative;
    width: auto;
    margin: 0 auto;


    /* border-width: medium;
    border-style: solid;
    border-color: #F00; */

}


.div-central {
    position: relative;
    margin: 0;

    /* border-width: medium;
    border-style: solid;
    border-color: blueviolet;  */   

}

.div-central p {
    margin: 0;
}

table, th, td {
    
    border: 1px solid black;
    border-collapse: collapse;
    
}

table {
    width: 100%;    
}

  td {
    width: 50%;
    height: 25pt;
    border-collapse: collapse;   
    
    
}

#destino {
    margin-bottom: 0px;         
}


textarea {
    margin-top: 10px;
    resize: vertical;
    width: 100%;
    background-image: -moz-linear-gradient(top, transparent, transparent 19px, #000000 0px);
    background-image: -webkit-linear-gradient(top, transparent, transparent 19px, #000000 0);
    -webkit-background-size: 100% 20px;
    background-size: 100% 20px;    
    color: #000000;
    /* border: 1px solid #EEEEEE; */
    box-shadow: 1px 1px 0 #DDDDDD;
    display: inline-block;
    vertical-align: top;   
    font-size: 12px;
    line-height: 20px;         
    background-color: #FFFFFF;  
    overflow: hidden;
    min-height: 60px;  


    /* border-width:0px;
    border:none;   */  

}



input[type=radio] {
    border: 1px solid #000000;
    height: 12px;
    width: 12px;
    -webkit-appearance: none;
  }
  
  input[type=radio]:checked {
    background-color: #000000;
    background-size: 7px 7px;
  }
  
  input[type=radio]:focus {
    outline-color: transparent;
  }
  

#deferimento, #deferimento-data, #assinatura {
    margin-top: 15px;

}

#assinatura {
    text-align: center;
}

  
#logoSGP { 
    height: 68px;
    width: 127px;    
    display: inline-block;
    vertical-align: middle;    
    
}

footer p {               
    font-size: 9pt;  
    
    width: auto;    
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0%;
    top:25px;
       
}

footer { 
    margin-top: 10px;

}

#dadosGerais input:not([type="radio"]):not(.inputDuplo){
    
    height: 100%;
    width: 200px;

    float: right;
    
    box-sizing: border-box;

    border-width:0px;
    border:none;    

    

    /* border-color: chartreuse;
    border-width: medium;
    border-style: solid; */  
    
}

#dadosGerais label:not(.radioButton):not(.labelDuplo){      
    
   

    display: inline-block;
    height: 100%;
    width: 30%;
    padding: 4px;
     
    border-collapse: collapse;    
    white-space: nowrap;
    
}

.inputDuplo{

    height: 100%;
    width: 518px;

    float: right;
    
    box-sizing: border-box;

    outline: none;
    border-width:0px;
    border:none;   

        

}

.labelDuplo{

    

    display: inline-block;
    height: 100%;
    width: 15%;
    padding: 4px;
 

  
    box-sizing: border-box;
    border-collapse: collapse;
}

/* Cor de fundo do autocomplete */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
}